# byte-compiled
__pycache__/

# Mac OS
.DS_Store

# VScode
.vscode/

# IntelliJ
.idea/

# pip install eggs
*.egg-info

# virtual envs
venv*

# doc builds
docs/rst_source/_build
docs/rst_source/_static
